<div class="mb-3 mt-3">
  <label for="filterColor" class="form-label">Search of Color</label>
  <input
    type="text"
    [(ngModel)]="filterColor"
    class="form-control"
    id="filterColor"
    placeholder="Color name..."
  />
</div>

<div *ngIf="filterColor.length > 2" class="alert alert-success">
  {{ filterColor }} aradınız.
</div>
<div class="list-group">
  <button
    type="button"
    (click)="currentColor = null"
    [class]="getAllColorClass()"
    routerLink="/cars"
  >
    Colors All
  </button>
  <button
    *ngFor="let color of colors | filterColor: filterColor"
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    type="button"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </button>
</div>
