<div *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row">
  <div class="col-lg-4 col-md-6 shadow-lg p-3 mb-5 bg-body rounded " *ngFor="let car of cars">
  <div class="card border-0 mb-3" style="width: 18rem;">
    <img src="{{imgUrl}}{{ car.carImage[0].imagePath}}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h4>
        <a routerLink="/cars/details/{{car.carId}}" class="card-title text-decoration-none h5" style="color:#007bff;">{{car.carName}} </a>
      </h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="float-start">Brand Name </span>
        <span class="float-end">{{car.brandName}}</span>
      </li>
      <li class="list-group-item">
        <span class="float-start">Color </span>
        <span class="float-end">{{car.colorName}}</span>
      </li>
      <li class="list-group-item">
        <span class="float-start">Model Year </span>
        <span class="float-end">{{car.modelYear}}</span>
      </li>
      <li class="list-group-item">
        <span class="float-start">Description </span>
        <span class="float-end">{{car.description}}</span>
      </li>  
      <p class="card-text text-center h3 mt-3">${{car.dailyPrice }}/Day</p>
    </ul>
    <div class="card-body">
      <div class="d-flex action justify-content-between">
        <a href="" class="btn btn-success ">Rent Now</a>
        <a (click)="setCurrentCar(car)" routerLink="cars/details/{{car.carId}}"
         class="btn btn-primary">Details </a>
      </div>
    </div>
  </div>
  </div>
  </div>